.header {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    margin: auto;
    padding: 1.5rem;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 18rem;
}

.logo h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navDesktop {
    width: 30rem;
}

.navDesktop ul {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.navDesktop ul a {
    font-size: 12px;
    font-family: sans-serif;
}

.navDesktop ul a:hover{
    font-weight: bold;
}

.navDesktop ul a:active{
    
    text-decoration: none;
}

.navDesktop ul button {
    background-color: #408C67;
    color: white;
    padding: 16px 42px;;
    border: none;
}

.navDesktop ul button:hover {
    background-color: #367C5A;
    cursor: pointer;
}

.nav {
    display: none;
}

/* .nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul a {
    font-size: 12px;
    font-family: sans-serif;
}

.nav ul button {
    background-color: #408C67;
    color: white;
    padding: 16px 42px;;
    border: none;
} */

.toggleButton{
    display: none;
}

@media (max-width: 1000px) {

    .navDesktop {
        display: none;
    }

    .logo {
        width: 15rem;
    }

    .logo h2 {
        font-size: 15px;
    }

    .logo p{
        font-size: 10px;
    }

    .toggleButton{
        display: block;
        position: absolute;
        top: 2.5rem;
        right: 8%;
    }

    .header{
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .nav {
        display: block;
        width: 100%;
    }

    .nav ul {
        margin-top: .5rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition:step-start;
        animation: fadeIn .5s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        50% {opacity: .5;}
        100% { opacity: 1; }
      }

    .nav ul li {
        margin: .65rem;
        font-size: 12px;
        font-family: sans-serif;
    }

    .nav ul button {
        display: none;
    }
}